.title{font-weight: bold;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
.Sub{color: #b10a0a;
background-color:rgba(230, 228, 228, 0.823)}
.text2{color: #0ea8d2f8;}
.text3{font-weight: bolder;
text-align: center;}
.text4{color: rgba(255, 48, 11, 0.996);}
.num{color: rgba(210, 74, 206, 0.926);
font-weight: bold;}
.color{background-color: rgba(230, 228, 228, 0.823);}

