
.h1{
    color: black; 
}
.p1{background-color: aliceblue;
    border-style: solid;
    width: 1000px;
    height: 250px;
    padding: 10px;
    margin: 10px;

}
body{ background-color: beige;

}
.c1{
    background-color: coral;

}
.c2{
background-color: yellow;
}
.p2{background-color: aliceblue;
    border-style: dotted;
    border-color: red;
    width: 1000px;
    height: 250px;
    padding: 10px;
    margin: 10px;}
    .p3{border-style: dotted;
    border-color: red;
color: red;}
   #p5{color: red;

   }